---
---
<nav class="menu">
    <ul>
    <li>
        <a rel="prefetch" href="/">Home</a>
    </li>
    <li>
        <a rel="prefetch" href="/about">About</a>
    </li>
    <li>
        <a rel="prefetch" href="/test">test</a>
    </li>
    <li>
        <a href="/post/some-markdown">some markdown file</a>
    </li>
    </ul>
</nav>


<style lang="scss">
    $navlink: #bada55;
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav a {
        color: $navlink;
    }
</style>
